
body{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.container {
    display:flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    height: 350px;
}

.notification {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -1px;
    margin: 0px 0px 15px 12px;
    
}

.alert {
    color: #FF6600;
}

.erro{
    color: #CC3300 !important;
}
.accept {
    color: #32BF00;
}
.accept-leds-on-center {
    background: #32BF00 !important;
}
.erro-leds-on-center {
    background: #CC3300 !important;
}
.accept-leds {
    border-top: 18px solid #32BF00 !important;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

.erro-leds {
    border-top: 18px solid #CC3300 !important;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}
.on {
    border-top: 18px solid #262A34 !important;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

.on-center{
    background: #262A34 !important;
}

.panel {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.main {
    position: relative;
    width: 63px;
    height: 150px;
}

.main .center-led{
    position: absolute;
    top: 75px;
    left: 15px;
}


.main .center{
    width: 45px;
    height: 24px;
    background: #DDDDDD;
    position: relative;
}

.main .center .arrow-right {
    content: "";
    position: absolute;
    left: 42px;
    top: 3.1px;
    border-top: 18px solid #DDDDDD;
    border-left: 11.9px solid transparent;
    border-right: 11.9px solid transparent;
    transform: rotate(-90deg);
}
.main .center .arrow-left {
    content: "";
    position: absolute;
    right: 42px;
    top: 3.2px;
    border-top: 18px solid #DDDDDD;
    border-left: 11.9px solid transparent;
    border-right: 11.9px solid transparent;
    transform: rotate(90deg);
}

.position-with-border{
    position: absolute;
    border-top: 18px solid #DDDDDD;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    height: 0px;
}

.top {
    top: 0px;
    left: 0px;
    width: 43px;
}
.left-led-first {
    right: 16px;
    top: 35px;
    width: 50px;
    transform: rotate(-90deg);
}

.left-led-second {
    right: 16px;
    top: 124px;
    width: 50px;
    transform: rotate(-90deg);
}

.right-led-first {
    top: 35px;
    left: 31px;
    width: 50px;
    transform: rotate(90deg);
}

.right-led-second {
    left: 31px;
    top: 124px;
    width: 50px;
    transform: rotate(90deg);
}

.bottom {
    top: 163px;
    left: -4px;
    width: 50px;
    transform: rotate(180deg)
}