form {
    display: flex;
    height: 75px;
    align-items: start;
    gap: 10px;
}

form input {
    max-width: 271px;
    width: calc(100vw - 70px);
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #FF6600;
    border-radius: 4px;
    padding-left: 12px;
}

form button {
    width: 70px;
    height: 45px;
    background: linear-gradient(180deg, #EF6C00 0%, #C0661C 100%);
    border-radius: 4px;
    border: 1px solid #FF6600;
    color: #ffffff;
    filter: brightness(100%);
}
form button:hover{
    filter: brightness(80%);
}

form .erro-info {
    color: red;
    font-size: 12px;
    text-align: center;
}

.disable-input {
    background: #F5F5F5;
    border: 1px solid #CFCFCF;
    pointer-events: none;
}

.disable-button {
    border: 1px solid #CFCFCF;
    background: #DDDDDD !important;
    pointer-events: none;
}